.bg-black{
    background: #000 !important;
}

.menu-top{
    height: 60px;
}

.menu-link{
    border-bottom: 2px solid #c0c0c0;;
    background: #fff;
    width: 100px;
    margin-right: .5em;
    text-align: center;
    color: #000;
    font-weight: 900;
    border-radius: .1rem;
}

.menu-link:hover{
    color: #c0c0c0;
    transform: scale(1.05);
    transition: .5s;
    border-color: #c0c0c0;
}